<!DOCTYPE html>
<html>
<head>
	<title>ENEST-5/HomePage</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Catamaran&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="main-div">
		<div class="head-div">
			<div class="main">
				<div class="head">
					<span>EVEST</span>
					<p>THE BIGGEST CHOICE OF THE WEB</p>
				</div>
                    <!--<input type="button" name="" value="Log in"/>
                    <input type="button" name="" ><a href="{% url 'displaysignup' %}">Log in</a>" />-->
                <div class="btn">
                    <input type="button" name="" onclick="location.href='{% url 'displaysignup' %}'" value="Log in"/>
				</div>
			</div>
		</div>
		<div class="home-page">
		 	<div class="pagnation">
				<div class="list">
					<ul>
						<li><a class="w" href="{% url 'displayindex' %}">HOME</a></li>
						<li><a class="w" href="{% url 'displayproduct' %}">NEW PRODUCT</a></li>
						<li><a class="w" href="{% url 'displayspecial' %}">SPECIAL</a></li>
						<li><a class="w" href="{% url 'displayproduct' %}">ALL PRODUCTS</a></li>
						<li>REVIEWS</li>
						<li><a class="w" href="{% url 'displaycontact' %}">CONTACT</a></li>
                        <li>FAQS</li>
					</ul>
				</div>
				<div class="search">
					<div class="search-1">
						<div class="input">
							<input type="text" name="">
						</div>
						<div class="btnn">
							<input type="button" name="" value="Search">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="null">

		</div>
		<div class="main-categorious">
			<div class="footer">
				<div class="main-img">
					<img src="{% static 'images/16.png' %}">
				</div>
				<div class="categorious">
					<div class="cate-heading">
						<p>CATEGORIES</p>
					</div>
					<div class="items">
						<ul>
							<li>TV's</li>
							<li>Dishwasher</li>
							<li>Ranges</li>
							<li>Computer</li>
							<li>Blu-ray & DVD Player</li>
							<li>Projectors</li>
							<li>Hometheater System</li>
							<li>Cameras</li>
							<li>Camcorders</li>
							<li>Washer & Dryers</li>
							<li>Refrigerators</li>
							<li>Microwaves</li>
						</ul>
					</div>
				</div>
				<div class="contact">
					<div class="contact-us">
						<p>FEATURED PRODUCTS</p>
					</div>
					<div class="Camera-info">
						<!-- <div class="cam-info"> -->
							<div class="samsung-cam">
								<div class="cam-info">
									<img src="{% static 'images/sam.png' %}">
									<div class="sam-prc">
										<span>Samsung LED</span>
										<p>Rs.20000</p>
									</div>
									<hr class="hr2">
									<div class="cart-btn">
										<i class="fa fa-plus-circle iconn" aria-hidden="true"></i>
										<!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
										<i class="fa fa-plus" aria-hidden="true"></i>
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
										<input type="submit" name="" value="Add to cart">
									</div>
								</div>
							</div>
							<div class="nikon-cam">
								<div class="cam-info">
									<img src="{% static 'images/nk2.jpeg' %}">
									<div class="nik-prc">
										<span>Nikon D7000</span>
										<p>Rs.3000</p>
									</div>
									<hr class="hr2">
									<div class="cart-1-btn">
										<i class="fa fa-plus-circle" aria-hidden="true"></i>
										<!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
										<i class="fa fa-plus" aria-hidden="true"></i>
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
										<input type="submit" name="" value="Add to cart">
									</div>
								</div>
							</div>
							<div class="kodak-cam">
								<div class="cam-info">
									<img src="{% static 'images/kod.jpg' %} ">
									<div class="kod-prc">
										<span>Kodak Camera</span>
										<p>Rs.3500</p>
									</div>
									<hr class="hr2">
									<div class="cart-2-btn">
										<i class="fa fa-plus-circle" aria-hidden="true"></i>
										<!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
										<i class="fa fa-plus" aria-hidden="true"></i>
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
										<input type="submit" name="" value="Add to cart">
									</div>
								</div>
							</div>
						<!-- </div> -->
					</div>
					<div class="Camera-info">
						<div class="samsung-cam">
							<div class="cam-info">
								<img src="{% static 'images/sam-pro.jpg' %}">
								<div class="sam-prc">
									<span>Samsung Projector</span>
									<p>Rs.27950</p>
								</div>
								<hr class="hr2">
								<div class="cart-btn">
									<i class="fa fa-plus-circle" aria-hidden="true"></i>
									<!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
									<i class="fa fa-plus" aria-hidden="true"></i>
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
									<input type="submit" name="" value="Add to cart">
								</div>
							</div>
						</div>
						<div class="nikon-cam">
							<div class="cam-info">
								<img src="{% static 'images/sony.png' %}">
								<div class="nik-prc">
									<span>Sony camcorders</span>
									<p>Rs.16000</p>
								</div>
								<hr class="hr2">
								<div class="cart-1-btn">
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
									<!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
									<i class="fa fa-plus" aria-hidden="true"></i>
									<i class="fa fa-plus-circle" aria-hidden="true"></i>
									<input type="submit" name="" value="Add to cart">
								</div>
							</div>
						</div>
						<div class="kodak-cam">
							<div class="cam-info">
								<img src="{% static 'images/acer.jpg' %}">
								<div class="kod-prc">
									<span>Acer Monitor</span>
									<p>Rs.15000</p>
								</div>
								<hr class="hr2">
								<div class="cart-2-btn">
									<i class="fa fa-plus-circle" aria-hidden="true"></i>
									<!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
									<i class="fa fa-plus" aria-hidden="true"></i>
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
									<input type="submit" name="" value="Add to cart">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="list-1">
					<ul>
						<li>HOME</li>
						<li>NEW PROJECT</li>
						<li>SPECIAL</li>
						<li>ALL PRODUCTS</li>
						<li>REVIEWS</li>
						<li>CONTACT</li>
						<li>FAQS</li>
					</ul>
				</div>
				<div class="footer-2">
					<p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i>2013 Enest.Privacy Notice</p>
				</div>
			</div>
		</div>
	</div>

        <table border="1">
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
            </tr>
            {% for getdata in indexmodel %}
            <tr>
                <td>{{ getdata.id}}</td>
                <td>{{ getdata.categoryname}}</td>

            </tr>
            {% endfor %}
        </table>

</body>
</html>
