<!DOCTYPE html>
<html>
<head>
	<title>ENEST-4/Products</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Catamaran&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="main-div">
		<div class="head-div">
			<div class="main">
				<div class="head">
					<span>EVEST</span>
					<p>THE BIGGEST CHOICE OF THE WEB</p>
				</div>
				<div class="btn">
					<input type="button" name="" value="Log in">
				</div>
			</div>
		</div>
		<div class="home-page">
		 	<div class="pagnation">
				<div class="list">
					<ul>
						<li><a class="w" href="{% url 'displayindex' %}">HOME</a></li>
						<li><a class="w" href="{% url 'displayproduct' %}">NEW PRODUCT</a></li>
						<li><a class="w" href="{% url 'displayspecial' %}">SPECIAL</a></li>
						<li><a class="w" href="{% url 'displayproduct' %}">ALL PRODUCTS</a></li>
						<li>REVIEWS</li>
						<li><a class="w" href="{% url 'displaycontact' %}">CONTACT</a></li>
						<li>FAQS</li>
					</ul>
				</div>
				<div class="search">
					<div class="search-1">
						<div class="input">
							<input type="text" name="">
						</div>
						<div class="btnn">
							<input type="button" name="" value="Search">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="null">

		</div>
		<div class="main-categorious">
			<div class="footer">
				<div class="categorious">
					<div class="cate-heading">
						<p>CATEGORIES</p>
					</div>
					<div class="items">
						<ul>
							<li>TV's</li>
							<li>Dishwasher</li>
							<li>Ranges</li>
							<li>Computer</li>
							<li>Blu-ray & DVD Player</li>
							<li>Projectors</li>
							<li>Hometheater System</li>
							<li>Cameras</li>
							<li>Camcorders</li>
							<li>Washer & Dryers</li>
							<li>Refrigerators</li>
							<li>Microwaves</li>
						</ul>
					</div>
				</div>
				<div class="contact">
					<div class="contact-us">
						<p>Dishwasher</p>
					</div>
					<div class="product-info">
						<span>Sort by:</span>
						<form>
							<select>
								<option>product name</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
						</form>
					</div>
					<div class="display-product">
						<span>Displaying 1 to 6(of 6 new product)</span>
						<div class="btnnn">
							<input  class="pre" type="submit" name="" value="Previous">
							<input class="nxt" type="submit" name="" value="Next">
						</div>
					</div>
					<div class="dish-info">
						<div class="machine-pic">
							<div class="img">
								<img src="{% static 'images/nik.jpeg'%}">
							</div>
							<div class="stock">
								<p>In Stock: 65</p>
							</div>
						</div>
						<div class="machine-info">
							<div class="date">
								<span> Date Added:2013-06-01  08:05:32</span>
							</div>
							<!-- <hr class="hr"> -->
							<div class="washer">
								<p>LG Camcorders</p>
							</div>
							<div class="model-info">
								<span>Model:LG Camcorders</span>
								<p>Manufacturer:LG Camcorders</p>
							</div>
							<div class="price">
								<span>Rs.15000</span>
							</div>
							<div class="checkout">
								<input type="submit" name="" onclick="location.href='{% url 'displaybuycart' %}'" value="BUY NOW">
							</div>
						</div>
					</div>
					<div class="dish-info">
						<div class="machine-pic">
							<div class="img">
								<img src="{% static 'images/sam-pro.jpg' %}">
							</div>

							<div class="stock-0">
								<p>In Stock:50</p>
							</div>
						</div>
						<div class="machine-info">
							<div class="date">
								<span> Date Added:2013-07-21  09:05:45</span>
							</div>
							<!-- <hr class="hr"> -->
							<div class="washer">
								<p>Samsung Projector</p>
							</div>
							<div class="model-info">
								<span>Model:Samsung Projector</span>
								<p>Manufacturer:Samsung Projector</p>
							</div>
							<div class="price">
								<span>Rs.3500</span>
							</div>
							<div class="checkout">
								<input type="submit" name="" onclick="location.href='{% url 'displaybuycart' %}'" value="BUY NOW">
							</div>
						</div>
					</div>
					<div class="dish-info">
						<div class="machine-pic">
							<div class="img">
								<img src="{% static 'images/sony.png' %}">
							</div>
							<div class="stock">
								<p>In Stock:50</p>
							</div>
						</div>
						<div class="machine-info">
							<div class="date">
								<span> Date Added:2013-06-01  08:05:32</span>
							</div>
							<!-- <hr class="hr"> -->
							<div class="washer">
								<p>Codak Camera</p>
							</div>
							<div class="model-info">
								<span>Model:Codak Camera</span>
								<p>Manufacturer:Codak Camera</p>
							</div>
							<div class="price">
								<span>Rs.3500</span>
							</div>
							<div class="checkout">
								<input type="submit" name="" onclick="location.href='{% url 'displaybuycart' %}'" value="BUY NOW">
							</div>
						</div>
					</div>
					<div class="dish-info">
						<div class="machine-pic">
							<div class="img">
								<img src="{% static 'images/nk2.jpeg' %}">
							</div>
							<div class="stock">
								<p>In Stock:200</p>
							</div>
						</div>
						<div class="machine-info">
							<div class="date">
								<span> Date Added:2013-05-31  20:25:14</span>
							</div>
							<!-- <hr class="hr"> -->
							<div class="washer">
								<p>Nikon D7000</p>
							</div>
							<div class="model-info">
								<span>Model:Nikon D7000</span>
								<p>Manufacturer:Nikon D7000</p>
							</div>
							<div class="price">
								<span>Rs.3000</span>
							</div>
							<div class="checkout">
								<input type="submit" name="" onclick="location.href='{% url 'displaybuycart' %}'" value="BUY NOW">
							</div>
						</div>
					</div>
                    <div class="dish-info">
						<div class="machine-pic">
							<div class="img">
								<img src="{% static 'images/sam.png' %}">
							</div>
							<div class="stock">
								<p>In Stock:50</p>
							</div>
						</div>
						<div class="machine-info">
							<div class="date">
								<span> Date Added:2013-06-01  08:05:32</span>
							</div>
							<!-- <hr class="hr"> -->
							<div class="washer">
								<p>Acer Television</p>
							</div>
							<div class="model-info">
								<span>Model:Acer Television</span>
								<p>Manufacturer:Acer Television</p>
							</div>
							<div class="price">
								<span>Rs.35000</span>
							</div>
							<div class="checkout">
								<input type="submit" name="" onclick="location.href='{% url 'displaybuycart' %}'" value="BUY NOW">
							</div>
						</div>
					</div>
                    <div class="dish-info">
						<div class="machine-pic">
							<div class="img">
								<img src="{% static 'images/6.png' %}">
							</div>
							<div class="stock">
								<p>In Stock:90</p>
							</div>
						</div>
						<div class="machine-info">
							<div class="date">
								<span> Date Added:2013-06-01  08:05:32</span>
							</div>
							<!-- <hr class="hr"> -->
							<div class="washer">
								<p>Dishwasher</p>
							</div>
							<div class="model-info">
								<span>Model:Dishwasher</span>
								<p>Manufacturer:Dishwasher</p>
							</div>
							<div class="price">
								<span>Rs.30000</span>
							</div>
							<div class="checkout">
								<input type="submit" name="" onclick="location.href='{% url 'displaybuycart' %}'" value="BUY NOW">
							</div>
						</div>
                    </div>
				</div>
				<div class="list-1">
					<ul>
						<li>HOME</li>
						<li>NEW PROJECT</li>
						<li>SPECIAL</li>
						<li>ALL PRODUCTS</li>
						<li>REVIEWS</li>
						<li>CONTACT</li>
						<li>FAQS</li>
					</ul>
				</div>
				<div class="footer-2">
					<p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i>2013 Enest.Privacy Notice</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>